
<div class="tech-container my-5">
    <a href="https://skillicons.dev">
    <img src="https://skillicons.dev/icons?i=git,html,css,sass,bootstrap,js,ruby,rails,heroku,postgres,figma&theme=light" />
  </div>
