<div class="container">

<div class="px-4  text-center">
    <h1 class="poppins-regular">Hello 👋, I'm Laura.  </h1>
    <H2>Full stack web developper</H2>
    <div class="col-lg-10 mx-auto">
      <h3>
      <p class="poppins-light mb-4">As a seasoned photographer with over a decade of experience in capturing
            compelling visual stories, I am now channeling my creative energy into the
            world of web development. My journey through photography has honed my eye
            for detail, my appreciation for aesthetics, and my passion for
            storytelling—skills that seamlessly translate into crafting engaging and
            user-friendly websites.
      </p>
      <p class="poppins-light">I am excited to connect with fellow creatives and tech professionals,
                collaborate on innovative projects, and continue growing in this ever-evolving
                digital landscape. Let's connect and explore how we can create something
                extraordinary together.
      </p>
            </h3>
    <div class="buttons d-grid gap-5 d-sm-flex justify-content-sm-center">
      <div data-controller="toggle" >
        <button data-action="click->toggle#stack" class="btn btn-outline-dark btn-lg px-4 mx-2" type="button">Tech stack</button>
        <button data-action="click->toggle#projects" class="btn btn-outline-dark btn-lg px-4 mx-2" type="button">Projects</button>
        <button data-action="click->toggle#contact" class="btn btn-outline-dark btn-lg px-4 mx-2" type="button">Contact</button>
        <div data-toggle-target="togglableStack" class="d-none">
          <div class="tech-container my-5">
              <!--<a href="https://skillicons.dev">-->
              <img src="https://skillicons.dev/icons?i=git,html,css,sass,bootstrap,js,ruby,rails,heroku,postgres,figma&theme=light" />
            </div>
        </div>
         <div data-toggle-target="togglableProjects" class="d-none">
          <div class="projects-container my-5">
            <h1>Projects</h1>
            </div>
        </div>
          <div data-toggle-target="togglableContact" class="d-none">
          <div class="contact-container my-5">
            <h1>Contact form</h1>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>









         <!-- <p>
            With a solid foundation in HTML, CSS, JavaScript, and modern frameworks like
            React, I am dedicated to building dynamic and visually appealing web
            experiences. My unique background allows me to blend artistic vision
            with technical expertise, ensuring that every project I undertake is
            both beautiful and functional.
          </p>-->


<!--       <p>
        <a href="https://skillicons.dev">
      <img src="https://skillicons.dev/icons?i=git,html,css,sass,bootstrap,js,ruby,rails,heroku,postgres,figma&theme=light" />
  </a>
</p>-->


        <!--As a seasoned photographer with over a decade of experience in capturing
            compelling visual stories, I am now channeling my creative energy into the
            world of web development. My journey through photography has honed my eye
            for detail, my appreciation for aesthetics, and my passion for
            storytelling—skills that seamlessly translate into crafting engaging and
            user-friendly websites.



            With a solid foundation in HTML, CSS, JavaScript, and modern frameworks like
            React, I am dedicated to building dynamic and visually appealing web
            experiences. My unique background allows me to blend artistic vision
            with technical expertise, ensuring that every project I undertake is
            both beautiful and functional.

         I am excited to connect with fellow creatives and tech professionals,
                collaborate on innovative projects, and continue growing in this ever-evolving
                digital landscape. Let's connect and explore how we can create something
                extraordinary together.
            -->

<!--   </div>
    <div class="col-6">
       <p>
  <a href="https://skillicons.dev">
    <img src="https://skillicons.dev/icons?i=git,html,css,sass,bootstrap,js,ruby,rails,heroku,postgres,figma&theme=light" />
  </a>
</p>
    </div>
</div>-->
