<!--<div class="cover-container d-flex w-100 h-90 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>

    </div>
  </header>

  <main class="px-3">
    <h1>Hello 👋, I'm Laura. Full stack web developper</h1>
    <p class="lead">As a seasoned photographer with over a decade of experience in capturing
            compelling visual stories, I am now channeling my creative energy into the
            world of web development. My journey through photography has honed my eye
            for detail, my appreciation for aesthetics, and my passion for
            storytelling—skills that seamlessly translate into crafting engaging and
            user-friendly websites. </p>
    <p class="lead">I am excited to connect with fellow creatives and tech professionals,
                collaborate on innovative projects, and continue growing in this ever-evolving
                digital landscape. Let's connect and explore how we can create something
                extraordinary together. </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>


</div>
-->




<div class="container">

<h1 class="poppins-regular">Hello 👋, I'm Laura.  </h1>
<H2>Full stack web developper</H2>
<img src="app/assets/images/Laura.png" alt="me">
  <div class="row">
  <div class="col-8">
      <H3>
        <p class="poppins-light">As a seasoned photographer with over a decade of experience in capturing
            compelling visual stories, I am now channeling my creative energy into the
            world of web development. My journey through photography has honed my eye
            for detail, my appreciation for aesthetics, and my passion for
            storytelling—skills that seamlessly translate into crafting engaging and
            user-friendly websites.
          </p>

         <!-- <p>
            With a solid foundation in HTML, CSS, JavaScript, and modern frameworks like
            React, I am dedicated to building dynamic and visually appealing web
            experiences. My unique background allows me to blend artistic vision
            with technical expertise, ensuring that every project I undertake is
            both beautiful and functional.
          </p>-->
            <p class="poppins-light">I am excited to connect with fellow creatives and tech professionals,
                collaborate on innovative projects, and continue growing in this ever-evolving
                digital landscape. Let's connect and explore how we can create something
                extraordinary together.
            </p>
      </H3>
   </div>
    <div class="col-4 mt-50">
      <div class="d-grid gap-5 p-50">
        <button class="btn btn-outline-dark" type="button">Tech stack</button>
        <button class="btn btn-outline-dark" type="button">Projects</button>
        <button class="btn btn-outline-dark" type="button">Contact</button>
      </div>
<!--       <p>
        <a href="https://skillicons.dev">
      <img src="https://skillicons.dev/icons?i=git,html,css,sass,bootstrap,js,ruby,rails,heroku,postgres,figma&theme=light" />
  </a>
</p>-->
    </div>
</div>
<!--
<h1 class="poppins-extrabold">Hello 👋, I'm Laura.  </h1>
<H2>Full stack web developper</H2>
  <div class="row">
  <div class="col-6">
      <H3>
        <p>As a seasoned photographer with over a decade of experience in capturing
            compelling visual stories, I am now channeling my creative energy into the
            world of web development. My journey through photography has honed my eye
            for detail, my appreciation for aesthetics, and my passion for
            storytelling—skills that seamlessly translate into crafting engaging and
            user-friendly websites.
          </p>

          <p>
            With a solid foundation in HTML, CSS, JavaScript, and modern frameworks like
            React, I am dedicated to building dynamic and visually appealing web
            experiences. My unique background allows me to blend artistic vision
            with technical expertise, ensuring that every project I undertake is
            both beautiful and functional.
          </p>
            <p>I am excited to connect with fellow creatives and tech professionals,
                collaborate on innovative projects, and continue growing in this ever-evolving
                digital landscape. Let's connect and explore how we can create something
                extraordinary together.
            </p>
      </H3>
   </div>
    <div class="col-6">
       <p>
  <a href="https://skillicons.dev">
    <img src="https://skillicons.dev/icons?i=git,html,css,sass,bootstrap,js,ruby,rails,heroku,postgres,figma&theme=light" />
  </a>
</p>
    </div>
</div>-->
